backports-abc==0.5
certifi==2017.7.27.1
click==6.7
docopt==0.6.2
fontawesome-markdown==0.2.6
http==0.2
httpserver==1.1.0
Jinja2==2.9.6
livereload==2.5.1
Markdown==2.6.9
MarkupSafe==1.0
mkdocs==0.16.3
mkdocs-material==1.8.1
Pygments==2.2.0
pymdown-extensions==3.5
python-markdown-math==0.3
PyYAML==3.12
singledispatch==3.4.0.3
six==1.10.0
tornado==4.5.2
